*{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #082b27;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

